#d1 {position:absolute; left: 300px; top:250px; font-size:xx-large; color:#FF8C00;}
#i_Einkaufslisten {position:absolute; left: 300px; top:300px;}

#d2 {position:absolute; left: 300px; top:550px; font-size:xx-large;color:#FF8C00;}
#i_Arbeitspläne {position:absolute; left: 300px; top:600px;}

#d3 {position:absolute; right: 340px; top:250px; font-size:xx-large;color:#FF8C00;}
#i_Finanzen {position:absolute; right: 300px; top:300px;}

#d4 {position:absolute; right: 340px; top:550px; font-size:xx-large;color:#FF8C00;}
#i_Chatroom {position:absolute; right: 300px; top:600px;}
